*{
  margin:0;
  padding:0;
}

.img-banner{
  width:100%;
}

.wrapper{
  padding: 50px 10%;
  width: 80%;
}

.img-info{
  float: right;
  width: 50%;
}

.img-info h2{
  padding: 0px 0px 0px 30px;
  font-family: arial;
  font-size: 2em;
  color: purple;
  line-height: 30px;
}

.img-info p{
  padding: 20px 0px 0px 30px;
  font-size: 1em;
}

.img-news{
  float: left;
  width: 50%;
}

@media only screen and (max-width: 991px){
  .img-banner{
    display: block;
    width: 100%;
  }

  .wrapper{
    width: 700px;
    padding: 50px 0 0 50px;
    margin: 0 auto;
  }

  .img-info{
    float: left;
    width: 80%;
  }

  .img-info h2{
    padding: 20px 0px 0px;
  }

  .img-info p{
    padding: 20px 0px 0px;
  }

  .img-news{
    padding-top: 30px;
    width: 80%;
  }
}

@media only screen and (max-width:767px){
  .img-banner{
    display: none;
  }
  
  .wrapper{
    width: 80%;
  }
  
  .img-info h2{
    padding-top: 5px;
    padding-left:5px; 
    padding-right: 0px;
    padding-bottom: 10px;
    font-family: arial;
    font-size: 2em;
    color: #111;
  }
  
  .img-info p{
    padding-top: 5px;
    padding-left: 5px; 
    padding-right: 0px;
    padding-bottom: 10px;
    font-family: arial;
    font-size: 1em;
    color: #111;
  }
  
  .img-news{
    width: 80%;
    padding-bottom: 50px;
  }
}
